extends layout

block content
  head
    title  #{rawData.name}
    link(rel='stylesheet', href='/stylesheets/champions.css')

  //- p= JSON.stringify(rawData)
  div.transparent
    h1  #{rawData.name}
    h2  #{rawData.title}

  script(type="text/javascript").
    var champ = !{JSON.stringify(rawData)} // Pass champion data to champions.js
  script(type="text/javascript",src="/javascripts/champions.js")

 