extends layout

block content
  //- p= JSON.stringify(rawData)
  h1  #{rawData.name}
  h2  #{rawData.title}
  img(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/#{rawData.name}_0.jpg')
    //- Maybe make this the background of the page. 
    //- we can put black div's in front of it and make them semi transparent