doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
       div.navBar
          ul
            li Home
            li About


    block content
