doctype html
html
  head
    title= title
    link(rel="icon",type="image/png",href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
       div.navBar
          ul
            li.navButton
              a(href="..") Home 
              //- Not sure how to fill in the links
            li.navButton
              a(href="about") About
            li.searchBar 
              label(for="searchField") Search:  
              input(type="text")#searchField


    block content
