doctype html
html
  head
    title= title
    link(rel="icon",type="image/png",href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
       div.navBar
          ul
            li.navButton
              a(href="/") Home 
            li.navButton
              a(href="/about") About
            li.searchBar 
              label(for="searchField") Search Champion:  
              input(type="text",autofocus="true",placeholder="Type a Champion name or title" )#searchField
      div.searchOutput#searchOutput.hidden
    script(type="text/javascript").
      var allChamps = !{JSON.stringify(rawData)}
      //- pass this variable to javascript. This is necessary for the search bar
      //- ISSUE: in champion.jade this variable is turning into just that champion's object, not the entire list
    block content
