body {
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.transparent{
  background-color: rgba(2,2,2,0.6);
  border-radius: 7px;
  display: inline-block;
}

.transparent h1 {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.transparent h2 {
  float:right;
  margin-left:10px;
  margin-bottom: 2px;
}

.transparent h3 {
  text-align: center;
}

.itemTable{
  margin-left: 10px; 
}

td {
  text-align: center;
}

.checkMark {
  height: 50px;
}

.crossMark {
  height: 40px;
}

.chart {
  background: rgba(0,0,0,0.75);
  color: white;
  margin-bottom: 20px;
  border-radius: 7px;
}

.chart svg text {
  fill: white;
}
