body {
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.transparent{
  padding: 5px 10px 5px 10px;
  background-color: rgba(2,2,2,0.7);
  border-radius: 10px;
  display: inline-block;
}

.transparent h1 {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}



.transparent h2 {
  float:right;
  margin-left:10px;
  margin-bottom: 2px;
}

.transparent h3 {
  text-align: center;
}

.itemTable{
  margin-left: 10px; 
}

td {
  text-align: center;
}

.checkMark {
  height: 50px;
}

.crossMark {
  height: 40px;
}

.chart {
  background: rgba(0,0,0,0.75);
  position: relative;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.chart svg text {
  fill: white;
}

.chart .spinner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itemImage{
  border-radius: 100%;
}

.bilgewaterItem {
  padding: 2px;
  background-color:red;
  border: 1px solid gold;
}

.itemInfo{
  padding: 5px 10px 5px 10px;
  display:none;
  position:absolute;
  width: 300px;
  font-family: helvetica;
  color: white;
  background-color: rgba(4,4,4,0.90);
}

.price {
  color: yellow;
}

.tooltip {
  text-align: center;
  padding: 5px 10px;
}

.tooltip-title {
  margin: 0 !important;
}

.buildsTable{
  width: 485px;
}

.itemTable {
  width:485px;
}

table{
  width: 100%;
  text-align: center;
}