body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.champContainer {
	width:100%;
	margin: 0px auto;
  vertical-align: middle;
}

.champSquare {
  display: inline;
	width:87px;
}
.champSquare:hover{
	opacity: 0.7;
	cursor: pointer;
}