/*******************************
GENERAL
********************************/
body {
  width: 1200px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #10181e;
  color: #f20c1e;
  -webkit-user-select:none;
  overflow: scroll;
}

.clearfix {
  clear: both;
}

/*******************************
^GENERAL
********************************/
  
/*******************************
NAVBAR
********************************/
header {
  position: relative;
}
.navBar{
  font-size: 2em;
  margin-bottom:1em;
}

.navBar ul{
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.navBar ul li{
  display: inline-block;
 margin: 0px;
}

.navBar ul li+li {
  margin-left: 1em;
}

.navBar .navButton a, .navBar .navButton a:visited {
  border: 1px solid #a2050e;
  background-color: #f20c1e;
  border-radius: 5px;
  padding:0.5em;
  text-decoration: none;
  color: #10181e;
}

.navBar .navButton a:hover {
  background-color: #f01c3e;
  cursor: pointer;
}


/*******************************
^NAVBAR 
********************************/


/*******************************
SEARCHBAR 
********************************/
.searchBar {
  margin-right: 0px;
  float: right;
}

.searchBar > label {
  display: inline-block;
  margin-right: 1em;
}

.searchContainer {
  position: relative;
  display: inline-block;
}

.searchBar input{
  vertical-align: middle;
  font-size: 1em;
  width:500px;
}

.searchOutput{
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 500px;
  background-color: #101858;
  font-size: 0.8em;
  color: #999;
  border: 2px solid #00003f;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 100;
}

.searchResultChamp {
  vertical-align: middle;
}

.searchResultChamp img {
  margin:3px;
  height: 50px;
  vertical-align: middle;
}

.hidden {
  display: none;
}

/*******************************
^SEARCHBAR 
********************************/


a {
  color: #999;
  text-decoration: none;

}

.champContainer, .itemContainer {
	width:100%;
	margin: 0px auto;
  text-align: center;
}

.champSquare, .itemSquare {
  border: 1px solid #10181e;
  display: inline;
  width:75px;
  height: 75px;
  text-align: center;
  z-index: 0;
  top:0px;
  left:0px;
}

.champSquare:hover, .itemSquare:hover {
	opacity: 0.7;
	cursor: pointer;
  color: white;
  border: 1px solid white;
}

/*******************************
SPINNER
********************************/

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}